# Directorios de salida
/node_modules/
/test-results/
/playwright-report/

# Archivos de configuración temporales
.env
.env.*
*.lock

# Estado de autenticación
playwright/.auth/

# Archivos empaquetados
*.tgz
*.zip

# Archivos de logs
*.log
